.site-header{
    background-color: #1bbc9b;
    color: #ecfdf9;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center

}
.insta-icon{
    border-radius: 50%;
    height: 60px;
    width: 60px;

}
.contact-link{
    color:#ecfdf;
}
.course-link{
    color: #ecfdf9;
}
.site-header-content{
    margin: 10px;

}

body{
    margin: 0;

}
